.btn-checkout, .btn-continous, .order-info{
    float: right;
    margin-right: 20px;
}
.order-info{
    clear: both;
    margin-top: 10px;
    padding: 5px;
    background-color: lightblue;
    border-radius: 3px;
}
.ironhack-img{
    height: 60px;
    float: left;
}
.text-header{
    padding-left: 70px;
}
.button-wrapper{
    margin-top: 50px;
}
.wrapper{
    max-width: 960px;
    margin: 30px auto;
}